/* --------------- Custom Properties -----------------*/

/* El selector root es la misma etiqueta html pero tiene mayor jerarquia */
:root {
  --darkest-blue: #243264;
  --darkest-blue-alpha: rgba(36, 50, 100, 0.8);
  --dark-blue: #1d3e8a;
  --medium-blue: #2781c1;
  --soft-blue: #7fbfea;
  --yellow: #ece43c;
  --orange: #f4b219;
  --orange-alpha: rgba(244, 178, 25, 0.8);
  --red: #e7323b;
  --red-alpha: rgba(231, 50, 59, 0.8);
  --green: #69b42e;
  --black: #444;
  --white: #fff;
  --gray-light: #f0f0f0;
  --alpha-color: rgba(36, 50, 100, 0.6);
  --max-width: 1200px;
  --header-height: 8rem;
  --shadow-text: 2px 2px 8px rgba(0, 0, 0, 0.47);
  --box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}

@font-face {
  font-family: Neris-Light;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Light-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-Regular;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Regular-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-SemiBold;
  src: url("../fonts/Neris-SemiBold.otf");
}

@font-face {
  font-family: Neris-SemiBold-Italic;
  src: url("../fonts/Neris-SemiBoldItalic.otf");
}

@font-face {
  font-family: Neris-Bold;
  src: url("../fonts/Neris-Black.otf");
}

@font-face {
  font-family: Neris-Bold-Italic;
  src: url("../fonts/Neris-BoldItalic.otf");
}

/* --------------- Reset -----------------*/

html {
  box-sizing: border-box;
  font-family: Neris-Light, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* esta propiedad me quita el scroll horizontal 
  sin importar el tamaño de la imagen*/
  overflow-x: hidden;
  color: var(--black);
}

a {
  color: var(--medium-blue);
  transition: all 0.5s ease-out;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: Neris-Bold;
  color: var(--dark-blue);
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.75rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
}
/*Para hacer todas las imágenes responsivas
con respecto a su contenedor*/
img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.5;
}

/* 

Esta propiedad le dice al navegador
que quiero que todos los elementos
con el atributo ID tengan un scroll
margin de 4 ex. las unidades ex son 
para indicar la letra más alta del 
alfabeto, la cual es la X

[id] {
  scroll-margin-top: 4ex;
} */

/* --------------- COMPONENTS -----------------*/

/* ********** Start Hero Image **********/

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  /* Para centrar en eje X y Y */
  background-position: top right;
  /* Para dar efecto Parallax*/
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
  text-align: center;
}

.hero-image-content {
  width: 70%;
}

.hero-image-title {
  font-family: Neris-Light;
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

.hero-image-title span {
  font-family: Neris-SemiBold;
  color: var(--yellow);
}

/* ********** End Hero Image **********/

/* ********** Start Menu **********/

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--darkest-blue);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 2rem;
  font-family: Neris-Semibold;
  text-align: center;
  text-decoration: none;
  color: var(--orange);
}

.menu a:hover {
  color: var(--white);
  background-color: var(--medium-blue);
  opacity: 1;
}

.menu-btn-mobile {
  background-color: var(--darkest-blue);
  border: 0;
  cursor: pointer;
  outline: thin solid var(--orange);
  padding: 1rem;
}

.menu-btn-mobile i {
  font-size: 2rem;
  color: var(--orange);
}

@media screen and (min-width: 1024px) {
  .menu-btn-mobile {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--white);
  }
}

/* ****************************/

/* ********** Modal **********/

.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--darkest-blue-alpha);
  display: grid;
  place-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.8s;
}

.modal-content {
  position: relative;
}

.modal-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.modal-close i {
  font-size: 3rem;
  color: var(--orange);
}

/* 
Forma para aplicar estilos a 
un objeto en particular 

.modal#trabajo-1:target {
  opacity: 1;
  pointer-events: auto;
} */

/* Selector de atributos []
| el pipe le indica a css que
cualquier id que comience con
la palabra "trabajo"
*/
.modal[id|="trabajo"]:target {
  opacity: 1;
  pointer-events: auto;
}

/* ***************************/

/* ********** Progress Bar **********/

progress {
  width: 100%;
  height: 1.5rem;
  background-color: var(--soft-blue);
}

progress::-webkit-progress-bar {
  background-color: var(--soft-blue);
}

progress::-webkit-progress-value {
  background-color: var(--medium-blue);
}

progress::-moz-progress-value {
  background-color: var(--medium-blue);
}

.progress {
  margin: 1rem auto;
}

.progress > p {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1.4rem;
}

/* ********** End Progress Bar **********/

/* --------------- Utilities -----------------*/

.bg-gray-light {
  background-color: var(--gray-light);
}

.box-shadow {
  box-shadow: 4px 16px 2px rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 80%;
  font-family: Neris-Bold;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--orange);
  background-color: var(--dark-blue);
  text-shadow: var(--shadow-text);
  margin-top: 5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none {
  display: none;
}

.profile-photo {
  display: none;
}

.section {
  padding: 2rem 2rem;
}

.section-title {
  font-family: Neris-SemiBold;
  font-size: 3rem;
  border-top: thin solid var(--orange);
  border-bottom: thin solid var(--orange);
  margin: 3rem auto;
  padding: 1rem 2rem;
  width: 250px;
  text-align: center;
  color: var(--dark-blue);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }
}

/* --------------- Site Styles -----------------*/

.about > article {
  margin-bottom: 2.5rem;
}

.about-me > h1 {
  font-size: 2.5rem;
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1.3rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--darkest-blue);
}

.logo {
  width: 160px;
}

.portfolio-card {
  position: relative;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  display: block;
}

.portfolio-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: top right;
}

.portfolio-card-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--darkest-blue-alpha);
  color: var(--white);
  padding: 1.8rem;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  pointer-events: auto;
}

.portfolio-card-info > div {
  padding: 1.6rem;
  border: thin solid var(--yellow);
  width: 100%;
  height: 100%;
}

.portfolio-card-info h3 {
  text-align: center;
  color: var(--yellow);
}

.portfolio-card-info h4 {
  margin-top: 2rem;
}
.portfolio-card-info p {
  font-size: 1.4rem;
}

.portfolio-details {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-auto-rows: 3rem;
  margin-top: 1rem;
}

.portfolio-details small {
  font-size: 1.5rem;
}

.portfolio-details b {
  text-transform: uppercase;
  color: var(--darkest-blue-alpha);
}

.portfolio-info {
  align-self: center;
}

.portfolio-modal {
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.portfolio-modal h3 {
  border-bottom: thin solid var(--orange);
  padding: 1rem 0;
  margin: 1.5rem auto;
  color: var(--medium-blue);
  font-family: Neris-SemiBold;
  text-align: center;
}
.portfolio-modal img {
  border-radius: 0.5rem;
  max-height: 280px;
  object-fit: contain;
  /* Para centrar en eje X y Y */
  background-position: top right;
  align-self: center;
}

.skills-card {
  margin: 1.5rem auto;
  padding: 1rem;
  text-align: center;
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.skills-card > h3 {
  color: var(--dark-blue);
  margin-bottom: 1.75rem;
}

.icons {
  font-size: 4rem;
  color: var(--medium-blue);
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

/* -------- Media Query para Tablets ----------*/
@media screen and (min-width: 768px) {
  .btn {
    width: 250px;
    font-size: 2.5rem;
  }
  .container > .section-title {
    grid-column: span 2;
  }
  .hero-image-title {
    font-size: 5rem;
  }

  .portfolio[id] {
    scroll-margin-top: 11ex;
  }

  .portfolio > .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .portfolio-info {
    margin-left: 2rem;
  }
  .portfolio-modal {
    flex-direction: row;
    max-width: 800px;
  }

  .portfolio-modal img {
    width: 40%;
  }

  .profile-photo {
    display: inline-block;
    border-radius: 50%;
    max-height: 350px;
  }
  .skills > .container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }
}
/* -------- Media Query para Desktop ----------*/
@media screen and (min-width: 1024px) {
  .about {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .about-me > h1 {
    font-size: 3.5rem;
  }
  .container > .section-title {
    grid-column: span 3;
  }
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }
  .header {
    /*Sticky es una combinación entre fixed y 
    relative la diferencia es que se comporta como
    elemento fijo una vez llegue a  la altura que
    se le defina (top: 0) y evita que se sobreponga
    en las demás secciones.*/
    position: sticky;
    top: 0;
    padding: 0.8rem;
    height: calc(var(--header-height) - 0.8rem);
  }
  .portfolio > .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .skills > .container {
    grid-template-columns: repeat(3, 30%);
  }
}
