/* --------------- Custom Properties -----------------*/

/* El selector root es la misma etiqueta html pero tiene mayor jerarquia */
:root {
  --darkest-blue: #243264;
  --dark-blue: #1d3e8a;
  --medium-blue: #2781c1;
  --soft-blue: #7fbfea;
  --yellow: #ece43c;
  --orange: #f4b219;
  --red: #e7323b;
  --green: #69b42e;
  --black: #444;
  --white: #fff;
  --alpha-color: rgba(36, 50, 100, 0.6);
  --max-width: 1200px;
  --header-height: 8rem;
  --shadow-text: 2px 2px 8px rgba(0, 0, 0, 0.47);
}

@font-face {
  font-family: Neris-Light;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Light-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-Regular;
  src: url("../fonts/Neris-Light.otf");
}

@font-face {
  font-family: Neris-Regular-Italic;
  src: url("../fonts/Neris-LightItalic.otf");
}

@font-face {
  font-family: Neris-SemiBold;
  src: url("../fonts/Neris-SemiBold.otf");
}

@font-face {
  font-family: Neris-SemiBold-Italic;
  src: url("../fonts/Neris-SemiBoldItalic.otf");
}

@font-face {
  font-family: Neris-Bold;
  src: url("../fonts/Neris-Black.otf");
}

@font-face {
  font-family: Neris-Bold-Italic;
  src: url("../fonts/Neris-BoldItalic.otf");
}

/* --------------- Reset -----------------*/

html {
  box-sizing: border-box;
  font-family: Neris-Light, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* esta propiedad me quita el scroll horizontal 
  sin importar el tamaño de la imagen*/
  overflow-x: hidden;
  color: var(--black);
}

a {
  color: var(--medium-blue);
  transition: all 0.5s ease-out;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: Neris-Bold;
  color: var(--dark-blue);
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.75rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
}
/*Para hacer todas las imágenes responsivas
con respecto a su contenedor*/
img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.6;
}

/* --------------- Components -----------------*/

/* ********** Start Hero Image **********/

.hero-image {
  background-image: var(--hero-image);
  background-repeat: no-repeat;
  background-size: cover;
  /* Para centrar en eje X y Y */
  background-position: top right;
  /* Para dar efecto Parallax*/
  background-attachment: var(--hero-attachment);
}

.hero-image-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--hero-opacity-color);
  text-align: center;
}

.hero-image-content {
  width: 70%;
}

.hero-image-title {
  font-family: Neris-Light;
  font-size: 7.5vw;
  color: var(--hero-text-color);
}

.hero-image-title span {
  font-family: Neris-SemiBold;
  color: var(--yellow);
}

/* ********** End Hero Image **********/

/* ********** Start Menu **********/

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--darkest-blue);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 2rem;
  font-family: Neris-Semibold;
  text-align: center;
  text-decoration: none;
  color: var(--orange);
}

.menu a:hover {
  color: var(--white);
  background-color: var(--medium-blue);
  opacity: 1;
}

.menu-btn-mobile {
  background-color: var(--darkest-blue);
  border: 0;
  cursor: pointer;
  outline: thin solid var(--orange);
  padding: 1rem;
}

.menu-btn-mobile i {
  font-size: 2rem;
  color: var(--orange);
}

@media screen and (min-width: 1024px) {
  .menu-btn-mobile {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    opacity: 1;
    pointer-events: auto;
    flex-direction: row;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:hover {
    background-color: transparent;
    color: var(--white);
  }
}

/* ********** End Menu **********/

/* --------------- Utilities -----------------*/

.box-shadow {
  box-shadow: 4px 16px 2px rgba(0, 0, 0, 0.25);
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  display: inline-block;
  width: 180px;
  font-family: Neris-Bold;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  color: var(--orange);
  background-color: var(--dark-blue);
  text-shadow: var(--shadow-text);
  margin-top: 5rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.none {
  display: none;
}

/* --------------- Site Styles -----------------*/

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1.3rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--darkest-blue);
}

.logo {
  width: 160px;
}
/* -------- Media Query para Tablets ----------*/
@media screen and (min-width: 768px) {
  .hero-image-title {
    font-size: 5rem;
  }
  .btn {
    width: 250px;
    font-size: 2.5rem;
  }
}
/* -------- Media Query para Desktop ----------*/
@media screen and (min-width: 1024px) {
  .header {
    /*Sticky es una combinación entre fixed y 
    relative la diferencia es que se comporta como
    elemento fijo una vez llegue a  la altura que
    se le defina (top: 0) y evita que se sobreponga
    en las demás secciones.*/
    position: sticky;
    top: 0;
    padding: 0.8rem;
    height: calc(var(--header-height) - 0.8rem);
  }
}
